In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('house_train1.csv')
test = pd.read_csv('house_test1a.csv')

In [3]:
print ("Train data shape:", train.shape)
print ("Test data shape:", test.shape)

Train data shape: (1460, 81)
Test data shape: (1459, 80)

In [4]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
import matplotlib.pyplot as plt
plt.style.use(style='ggplot')
plt.rcParams['figure.figsize'] = (10, 6)

In [6]:
data = train.select_dtypes(include=[np.number]).interpolate().dropna()

In [7]:
sum(data.isnull().sum() != 0)

0

In [8]:
y = np.log(train.SalePrice)
X = data.drop(['SalePrice', 'Id'], axis=1)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
                          X, y, random_state=42, test_size=.33)

In [10]:
from sklearn import linear_model
lr = linear_model.LinearRegression()

In [11]:
model = lr.fit(X_train, y_train)

In [12]:
print ("R^2 is: \n", model.score(X_test, y_test))

R^2 is:
 0.8634422269350099

In [13]:
predictions = model.predict(X_test)

In [14]:
from sklearn.metrics import mean_squared_error
print ('RMSE is: \n', np.sqrt(mean_squared_error(y_test, predictions)))

RMSE is:
 0.15255730125387082

In [15]:
submission = pd.DataFrame()
submission['Id'] = test.Id

In [16]:
feats = test.select_dtypes(
        include=[np.number]).drop(['Id'], axis=1).interpolate()

In [17]:
predictions = model.predict(feats)
final_predictions = np.exp(predictions)

In [18]:
submission['SalePrice'] = final_predictions
submission.head()

     Id      SalePrice
0  1461  119116.070266
1  1462  120473.870911
2  1463  168191.489501
3  1464  195672.410313
4  1465  181655.534287

In [19]:
submission.to_csv('submission2.csv', index=False)